body{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	font-family:Verdana;
}

header{
	font-weight:bold;
}

img {
    padding: 10px;
    border: 1px solid #3A5F0B;
    box-shadow:  -1px 1px #3A5F0B,
         -2px 2px #3A5F0B,
         -3px 3px #3A5F0B,
         -4px 4px #3A5F0B,
         -5px 5px #3A5F0B;
     border-radius: 10%;

}

.backgroundgradient {
    background-color:#3A5F0B;
}

nav {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 15px;
}

    nav ul {
        list-style: none;
        padding: 0px;
    }

        nav ul li {
            display: block;
        }

#navtitle{
	height: 35px;
    margin-left: 5px;
    font-size: 18px;
    float: left;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
}
		
.navlink {
    height: 35px;
    margin-right: 30px;
    font-size: 18px;
    float: right;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
}

#navigationbar{
	position:absolute;
}


#projects{
	position:relative;
    top: 100px;
	height: 100vh;
    width: 100vw;
}

#projects > header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.normalfont{
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
}


.projectscontainer{
    margin:20px;
}
	
.projectarticle {
    margin-bottom:50px;
	
}

.projectarticlethumbnail {
    width: 250px;
    height: 250px;
}

.projectarticlename {
    font-size: 20px;
    color: #603813;
    font-weight: bold;
    margin: 25px;
}

#eportfolioarticle{
    float:left;
    width:60vw;
    height: fit-content;
}

.sidebar{    
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 0;
    width:350px;
    margin-right:50px;
}

.caption:{
    margin-right:50px;
}


#naoarticle{

}

#apparticle{

}

#machinelearningarticle{

}

#eportfoliothumbnail{
    float:left;
    margin-right: 15px;
    margin-bottom: 15px;
}

#eportfoliointro{
    margin-left: 40px;
    min-width:300px;
}

#projectstitle{
    margin-left:50px;
}
